page-gatepass {
.label {margin-right:0;}
.listtitle { color: $danger; font-size: 0.8em; text-transform: uppercase;}
.item-divider{
   background: $primary;
   color: $light;
 .listtitle {
  color: $light;
}}
}
