#main,
#notificationsMenu,
.menupanel {
  .content,
  .toolbar,
  .toolbar-background {
    background: $primary;
  }

  .ion-title {
    padding: 0 0 1px !important;
  }

  .toolbar-title {
    color: $light;
    font-size: 13px;
    overflow: visible;
    text-overflow: inherit;
  }

  .item-block,
  .item-inner {
    font-size: 13px;
    height: 30px !important;
    .icon {
      margin-right: 3px;
    }
  }
  .label{ margin: 5px 8px 5px 0 !important;}

  .profile-box {
    border-bottom: 0.55px solid $light;
      margin: 10px;
      height: 60px;
    .name {
      //margin-top: 10px;
      font-size: 16px;
      color: $light;
      font-weight: bolder;
    }

    .title {
      font-size: 12px;
      color: $secondary;
      text-transform: uppercase;
    }
    @include round-bottom-corners(10px);

    .profilepicbox {
      img { margin-left: 10px;
        @include circle(55px, #ffffff);
      }
    }
  }
}
